<div class="container-fluid">
  <div class="row">
    <div class="col yelp-content">
      <div class="d-block">
        <div class="my-10">
          <img src="../../assets/Logo.svg">
        </div>
        <div class="mt-5">
          <h1 class="fs"><strong>Explore the best <br>Camps on Earth.</strong></h1>
          <p class="text fs-2">
            Yelp is a curated list of the best camping spots on <br>
            Earth. Unfiltered and unbiased reviews.
          </p>
          <p class="text fs-2" style="list-style: none;">
            <li><img src="../../assets/Checkmark.svg"> Add your own camp suggestions.</li>
            <li><img src="../../assets/Checkmark.svg"> Leave reviews and experiences.</li>
            <li><img src="../../assets/Checkmark.svg"> See locations for all camps.</li>
          </p>
          <button class="btn btn-dark mb-5"><strong>View Campgrounds</strong></button>
          <p class="text fs-2">Partnered with:</p>
          <div class="d-flex">
            <img src="../../assets/Airbnb.svg">
            <img src="../../assets/Booking.svg">
            <img src="../../assets/Plum Guide.svg">
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm full-img" style="background-image: url(../../assets/Hero\ Image.jpg);">
    </div>
  </div>
